<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

_This is the Peer-graded assignment_

1. Python
2. SQL
3. R
4. Java
5. Scale
6. C++
7. Javascript
8. PHP
9. Go
10. Ruby
11. Visual Basic

1. Pandas
2. Numpy
3. Seaborn
4. Scikit-learn library
5. Keras
6. TensorFlow
7. Pytorch
8. Apache Spark
9. Spark Vegas
10. ggplot2

| Data Management | Data Integration | Data Visualization |
| --------------- | ---------------- | ------------------ |
| MongoDB         | Apache AirFlow   | Hue                |
| Apache CouchDB  | KubeFlow         | Kibana             |
| Apache jupi     | Apache Kafka     |                    |
| Ceph            | Apache Nifi      |                    |
| Elasticsearch   | NodeRED          |                    |

###  Arithmetic Expression Examples

In [2]:
x = 3
y = 5
print(x+y)
print(x*y)

8
15

In [4]:
minutes = 120
Hours = minutes/60
print(Hours, "hours")

2.0 hours

### Objectives 
1. Add in a Title
2. Create a list
3. Insert a Table
4. Code arithmetic expression examples

## Author 
### Kajal Lutawan